<h2>Your Shopping Cart</h2>
<% if @cart.present? %>
  <% @cart.cart_items.each do |item| %>
    <p><%= item.product.name %> - <%= item.quantity %></p>
  <% end %>
<% else %>
  <p>Your cart is empty.</p>
<% end %>
