<h1><%= @category.name %></h1>
<% @products.each do |product| %>
  <% if product.sellable? %>
    <div>
      <%= link_to product.name, product_path(product) %>
    </div>
  <% end %>
<% end %>

<%= paginate @products %>

<%= link_to 'Back', :back, class: "back-link" %>
